{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<div class="d-flex justify-content-between align-items-center">
    <h2>Patients list</h2>
    <a class="btn btn-primary btn-sm" href="{% url 'new_patient' %}">New Patient <span class="fs-5 lh-1">+</span></a>
</div>

<!-- Search Form -->
<div class="d-flex justify-content-center">
    <form class="w-50" method="get" action="">
        <div class="input-group my-3">
            <input class="form-control" type="search" name="q" placeholder="Search patients..." value="{{ request.GET.q }}">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>
</div>

<!-- Patients Table -->
<div class="bg-light rounded p-3 mt-2 mb-2 mx-4">
    <h3 class="fs-5 mb-3">All patients</h3>
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th>#</th>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ patient.name }}</td>
                    <td>{{ patient.age }}</td>
                    <td>{{ patient.phone }}</td>
                    <td>
                         <a class="btn btn-sm fs-5" href="{% url 'patient_details' patient.id %}" title="View Details"><i class="bi bi-eye"></i></a>
                        <a class="btn btn-sm fs-5" href="{% url 'edit_patient' patient.id %}" title="Edit"><i class="bi bi-pencil"></i></a>
                        <a class="btn btn-sm fs-5" href="{% url 'delete_patient' patient.id %}" title="Delete"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No patients found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}