<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Appointments</h1>
    <ul>
        {% for appointment in appointments %}
            <li><a href="{% url 'appointment_details' appointment.id %}">{{ appointment.date }} - {{ appointment.patient.name }}</a></li>
        {% empty %}
                <li>No appointments available.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'new_appointment' %}">New Appointment</a>
</body>
</html>